{% extends "base.html" %}
{% block title %}Index{% endblock %}

{% block content %}
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron text-center">
  <div class="container">
    <h1 class="display-3 ">Welcome to BaronFlaskApp</h1>
      <p>This is a Flask App dedicated to showcasing how a Blog consisiting of a plethora of articles can be made. Feel free to take it up.</p>
      <p><a class="btn btn-primary btn-lg" href="/" role="button">Learn more &raquo;</a></p>
  </div>
</div>
{%  endblock %}

{% block footer %}
  <!--&copy; Copyright 2019 by <a href="#">BaronKimaru</a>.-->
{% endblock %}
